.col
	float left
	margin-right 20px
	height 530px
	background #ddd
	&:last-child
		margin-right 0

.title
	padding 18px 11px
	font-size 38px
	background #eee
	border-bottom 6px solid #999

.set
	padding 24px 29px
	width 290px

	&__item
		margin-bottom 10px

	&__label
		padding-right 19px
		font-size 16px

	&__input
		padding 2px 7px
		width 58px
		border none

	&__btn
		display inline-block
		margin-top 26px
		margin-right 12px
		padding 5px 7px
		font-size 18px
		text-transform uppercase
		border 1px solid #aaa
		&:last-child
			margin-right 0

.field
	padding 10px 30px
	border-collapse separate
	border-spacing 3px

	&__cell
		background #fff
		width 22px
		height 22px

.info
	padding 17px 19px
	width 300px

	&__caption
		margin-bottom 17px
		padding-left 8px
		font-size 18px

	&__content
		min-height 393px
		background #fff
