.col
	float left
	margin-right 20px
	height 500px
	background #ddd
	&:last-child
		margin-right 0

.title
	background #eee

.set
	width 300px
	&__input
		border none

	&__btn
		display inline-block

.field
	width 600px
	height 500px

.info
	width 300px
