.set
	.set__item
		label.set__label(for='wolfs') Волков:
		input.set__input.js-wolfes(id='wolfs' type='text')
	.set__item
		label.set__label.js-hares(for='hares') Зайцев:
		input.set__input(id='hares' type='text')
	.set__item
		label.set__label(for='speed') Скорость:
		input.set__input(id='speed' type='text')

	.set__btn.js-start пуск
	.set__btn.js-pause пауза
	.set__btn.js-restart заново
