.set
	.set__item
		label.set__label(for='wolfs') волков:
		input.set__input(id='wolfs' type='text')
	.set__item
		label.set__label(for='hares') зайцев:
		input.set__input(id='hares' type='text')
	.set__item
		label.set__label(for='speed') скорость:
		input.set__input(id='speed' type='text')

	.set__btn.js-start пуск
	.set__btn.js-pause пауза
	.set__btn.js-restart начать заново
